
* {
    box-sizing: border-box;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}
h1 {
    font-size: 32px;
    font-weight: 600;
}
.h4 {
    font-size: 16px !important;
}
body {
    margin: 0;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    line-height: 1.5;
    color: #24292e;
    background-color: #fff;
}
body {
    min-width: 1020px;
    word-wrap: break-word;
}
.position-relative {
    position: relative !important;
}
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section {
    display: block;
}
button, input, select, textarea {
    font: inherit;
    margin: 0;
}
button, input {
    overflow: visible;
}
input, select, textarea, button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, input, select, textarea {
    font: inherit;
    margin: 0;
}
/* header search input */
.Header {
    z-index: 1;
    padding-top: 12px;
    padding-bottom: 12px;
    color: rgba(255,255,255,0.75);
    background-color: #24292e;
}
.header-search-wrapper {
    display: table;
    width: 100%;
    max-width: 100%;
    min-height: 0;
    padding: 0;
    font-weight: normal;
    vertical-align: middle;
}
.Header .header-search-wrapper {
    min-height: 30px;
    font-size: inherit;
    color: #fff;
    background-color: rgba(255,255,255,0.125);
    border: 0;
    box-shadow: none;
}
.container-lg {
    max-width: 1012px;
    margin-right: auto;
    margin-left: auto;
}
.flex-justify-between {
    -webkit-box-pack: justify !important;
    justify-content: space-between !important;
}
.px-3 {
    padding-right: 16px !important;
    padding-left: 16px !important;
}
.d-flex {
    display: -webkit-box !important;
    display: flex !important;
}
.flex-auto {
    -webkit-box-flex: 1 !important;
    flex: 1 1 auto !important;
}
.header-search {
    width: 300px;
    font-size: 13px;
}
label {
    font-weight: 600;
}
.form-control, .form-select {
    min-height: 34px;
    padding: 6px 8px;
    font-size: 14px;
    line-height: 20px;
    color: #24292e;
    vertical-align: middle;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(27,31,35,0.075);
}
.header-search-wrapper {
    display: table;
    width: 100%;
    max-width: 100%;
    min-height: 0;
    padding: 0;
    font-weight: normal;
    vertical-align: middle;
}
.Header .header-search-wrapper {
    min-height: 30px;
    font-size: inherit;
    color: #fff;
    background-color: rgba(255,255,255,0.125);
    border: 0;
    box-shadow: none;
}
.header-search-input {
    display: table-cell;
    width: 99.999%;
    min-height: 26px;
    padding-top: 0;
    padding-bottom: 0;
    background: none;
    border: 0;
    box-shadow: none;
}
.Header .header-search-input {
    min-height: 30px;
    font-size: inherit;
    color: inherit;
}

/* github cat logo*/
.header-logo-invertocat {
    margin: -1px 15px -1px -2px;
    color: #fff;
    white-space: nowrap;
}
.header-logo-invertocat .octicon-mark-github {
    float: left;
}
.octicon {
    display: inline-block;
    vertical-align: text-top;
    fill: currentColor;
}
.octicon {
    vertical-align: text-bottom;
}
/* header list left*/
ul, ol {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.flex-items-center {
    -webkit-box-align: center !important;
    align-items: center !important;
}
.pl-2 {
    padding-left: 8px !important;
}
.text-bold {
    font-weight: 600 !important;
}
.list-style-none {
    list-style: none !important;
}
a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
a {
    color: #0366d6;
    text-decoration: none;
}
.px-2 {
    padding-right: 8px !important;
    padding-left: 8px !important;
}
.HeaderNavlink {
    display: block;
    color: rgba(255,255,255,0.75);
}

/* header list right */
.dropdown {
    position: relative;
}
.d-inline-block {
    display: inline-block !important;
}
.tooltipped {
    position: relative;
}
.notification-indicator {
    color: rgba(255,255,255,0.75);
}
svg:not(:root) {
    overflow: hidden;
}
.user-nav .octicon {
    width: 16px;
}
details summary::-webkit-details-marker { display:none; }
summary {
    display: list-item;
}
.dropdown-details:not([open]) {
    cursor: pointer;
}
details summary {
    cursor: pointer;
}
.dropdown-details>summary {
    list-style: none;
}
.HeaderNavlink:hover, .HeaderNavlink:focus {
    color: #fff;
    text-decoration: none;
}
summary:focus {
    outline: none;
}
.float-left {
    float: left !important;
}
.mt-1 {
    margin-top: 4px !important;
}
.mr-1 {
    margin-right: 4px !important;
}
.user-nav .octicon-plus {
    margin-right: 1px;
}

.dropdown-caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    content: "";
    border: 4px solid;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

/* dropdown menu */
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
    width: 160px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 2px;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(27,31,35,0.15);
    border-radius: 4px;
    box-shadow: 0 3px 12px rgba(27,31,35,0.15);
}
.dropdown-menu-sw {
    right: 0;
    left: auto;
}
details:not([open])>*:not(summary) {
    display: none;
}
.user-nav .dropdown-menu {
    width: 180px;
    margin-top: 8px;
}
.dropdown-details:not([open])>*:not(summary) {
    display: none;
}
.dropdown-item {
    display: block;
    padding: 4px 10px 4px 15px;
    overflow: hidden;
    color: #24292e;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* dropdown menu image */
b, strong {
    font-weight: 600;
}
.avatar {
    display: inline-block;
    overflow: hidden;
    line-height: 1;
    vertical-align: middle;
    border-radius: 3px;
}
.dropdown-header {
    padding: 4px 15px;
    font-size: 12px;
    color: #586069;
}
.header-nav-current-user {
    padding-bottom: 0;
    font-size: inherit;
}
.css-truncate.css-truncate-target, .css-truncate .css-truncate-target {
    display: inline-block;
    max-width: 125px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: top;
}
.header-nav-current-user .css-truncate-target {
    max-width: 100%;
}
.dropdown-divider {
    height: 1px;
    margin: 8px 1px;
    background-color: #e1e4e8;
}
.dropdown-signout {
    width: 100%;
    text-align: left;
    background: none;
    border: 0;
}

/* main */
.mt-4 {
    margin-top: 24px !important;
}
.clearfix::after {
    display: table;
    clear: both;
    content: "";
}
/* main left */
.pr-3 {
    padding-right: 16px !important;
}
.col-3 {
    width: 25%;
}
.py-3 {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}
.vcard-names-container {
    top: 0;
}
.vcard-names {
    line-height: 1;
}
.d-block {
    display: block !important;
}
.vcard-fullname {
    font-size: 26px;
    line-height: 30px;
}
.vcard-username {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    color: #666;
}
/* main left note */
.user-profile-bio {
    margin-bottom: 12px;
    overflow: hidden;
    font-size: 14px;
    color: #6a737d;
}
/* main left detail */
.border-top {
    border-top: 1px #e1e4e8 solid !important;
}
.border-gray-light {
    border-color: #eaecef !important;
}
.vcard-details {
    list-style: none;
}
.pt-1 {
    padding-top: 4px !important;
}
.vcard-detail {
    padding-left: 24px;
    font-size: 14px;
}
.vcard-detail {
    padding-left: 22px;
}
.vcard-details .css-truncate.css-truncate-target {
    width: 100%;
    max-width: 100%;
}
.vcard-detail .octicon {
    float: left;
    width: 16px;
    margin-top: 3px;
    margin-left: -24px;
    color: #6a737d;
    text-align: center;
}
.vcard-detail .octicon {
    margin-left: -22px;
}
/* main left organization */
.mb-1 {
    margin-bottom: 4px !important;
}
.avatar-group-item {
    display: inline-block;
    margin-bottom: 3px;
}
img {
    border-style: none;
}
.tooltipped::after {
    position: absolute;
    z-index: 1000000;
    display: none;
    padding: 5px 8px;
    font: normal normal 11px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    -webkit-font-smoothing: subpixel-antialiased;
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: break-word;
    white-space: pre;
    pointer-events: none;
    content: attr(aria-label);
    background: rgba(27,31,35,0.8);
    border-radius: 3px;
    opacity: 0;
}
.tooltipped-n::after, .tooltipped-ne::after, .tooltipped-nw::after {
    right: 50%;
    bottom: 100%;
    margin-bottom: 5px;
}
.tooltipped-s::after, .tooltipped-n::after {
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
}
.tooltipped::before {
    position: absolute;
    z-index: 1000001;
    display: none;
    width: 0;
    height: 0;
    color: rgba(27,31,35,0.8);
    pointer-events: none;
    content: "";
    border: 5px solid transparent;
    opacity: 0;
}
.tooltipped-n::before, .tooltipped-ne::before, .tooltipped-nw::before {
    top: -5px;
    right: 50%;
    bottom: auto;
    margin-right: -5px;
    border-top-color: rgba(27,31,35,0.8);
}
.tooltipped::after {
  opacity: 1;
}
/* main right */
