
* {
    box-sizing: border-box;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    line-height: 1.5;
    color: #24292e;
    background-color: #fff;
}
button, input {
    overflow: visible;
}
button, input, select, textarea {
    font: inherit;
    margin: 0;
}
.Header {
    z-index: 1;
    padding-top: 12px;
    padding-bottom: 12px;
    color: rgba(255,255,255,0.75);
    background-color: #24292e;
}
.header-search-wrapper {
    display: table;
    width: 100%;
    max-width: 100%;
    min-height: 0;
    padding: 0;
    font-weight: normal;
    vertical-align: middle;
}
.Header .header-search-wrapper {
    min-height: 30px;
    font-size: inherit;
    color: #fff;
    background-color: rgba(255,255,255,0.125);
    border: 0;
    box-shadow: none;
}
.d-flex {
    display: -webkit-box !important;
    display: flex !important;
}
.px-3 {
    padding-right: 16px !important;
    padding-left: 16px !important;
}
.flex-justify-between {
    -webkit-box-pack: justify !important;
    justify-content: space-between !important;
}

.container-lg {
    max-width: 1012px;
    margin-right: auto;
    margin-left: auto;
}

.header-logo-invertocat {
    margin: -1px 15px -1px -2px;
    color: #fff;
    white-space: nowrap;
}

.header-logo-invertocat .octicon-mark-github {
    float: left;
}

.octicon {
    vertical-align: text-bottom;
}

.octicon {
    display: inline-block;
    vertical-align: text-top;
    fill: currentColor;
}

.flex-auto {
    -webkit-box-flex: 1 !important;
    flex: 1 1 auto !important;
}

.header-search {
    width: 300px;
    font-size: 13px;
}

form {
    display: block;
    margin-top: 0em;
}
.form-control, .form-select {
    min-height: 34px;
    padding: 6px 8px;
    font-size: 14px;
    line-height: 20px;
    color: #24292e;
    vertical-align: middle;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(27,31,35,0.075);
}
.header-search-input {
    display: table-cell;
    width: 99.999%;
    min-height: 26px;
    padding-top: 0;
    padding-bottom: 0;
    background: none;
    border: 0;
    box-shadow: none;
}
.Header .header-search-input {
    min-height: 30px;
    font-size: inherit;
    color: inherit;
}
