.container {
  max-width: 900px;
}
a:hover {
  text-decoration: none;
  color: #337ab7;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: auto;
  display: block;
}

.header {
  background-color: #f5f5f5;
  color: #333;
  height: 60px;
}
.header a {
  display: block;
}
.header .logo .brand {
  font-size: 26px;
  line-height: 30px;
  padding: 15px;
  float: left;
  background-color: #ddd;
  color: white;
  text-shadow: 1px 1px 2px black;
}
.header ul {
  float: right;
}
.header ul li {
  display: inline-block;
}
.header ul li a {
  padding: 15px;
  line-height: 30px;
  font-size: 18px;
}

.header ul li a:hover {
  background: #ccc;
  color: white;
}

.main {
  padding: 50px 30px;
}
.main .blog-list .blog-item {
  margin-bottom: 10px;
}
.main .blog-list .blog-item a {
  display: block;
  border-radius: 5px;
  border: 1px solid #eee;
  box-shadow: 0 2px 5px #eee;
  padding: 10px;
}
.main .blog-list .blog-item a:hover {
  text-decoration: none;
  background-color: #eee;
}
.content span {
  font-weight: bold;
}