---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.colors-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
    border: 2px solid #eeeeee;
    min-height: 50vh;
    min-width: 60vh;
  }
  .color-container footer {
    max-width: 80px;
  }
  .e {
    height: 80px;
    width: 80px;
  }
  
  .e1 { background-color: #E30613;}/* Heineken red */
  .e2 { background-color: #1daef2;}/* twitter blue */
  .e3 { background-color: #007F2D;}/* Heineken green */
  .e4 { background-color: #BDBCBC;}/* Heineken silver */
  .e5 { background-color: #aaaaff;}
  .e6 { background-color: #4267b2;}/* facebook blue */

  .n-box {
    position: absolute;
    top: 0;
    right: 0;
    width: 15em;
    height: 2em;
    margin: .8em auto;
    padding: .5em 1.8em .5em .6em;
    opacity: 0;
  
    border-radius: .3em;  
    box-shadow:
      0 .4em 1em -.2em rgba(0,0,0,.2);
    background: #fff;
  }
  .n-close {
    display: block;
    
    position: absolute;
    top: .4em;
    right: .4em;
    
    width: .9em;
    height: .9em;
    
    line-height: .8em;
    text-align: center;
    color: #777;
    
    border: 1px solid #777;
    border-radius: 50%;
    
    cursor: pointer;
  }
  .n-picture {
    height: 2em;
    width: 2em;
    display: block;
    border-radius: 50%;
    float: left;
  }
  .n-message {
    line-height: 2em;
    text-align: center;
    display: block;
    width: 78%;
    float: right;
    color: #444;
  }